<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
  html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
  </style>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAaFvui-T1POvC7A_lWV2ToB76IRIe5w0">
  </script>

  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

</head>
<body>
  <div class="jumbotron">
    <h1>Crisis Cache</h1>
    <p class="lead">Geo-referenced, emergency logging </p>
    <button type="button" class="btn btn-danger" id="danger_button" style="float:center">Danger</button>
  </div>

  <div  id="map-canvas"></div>
  <!-- </div> -->
</body>
</html>